#wrapper {
	background-color: #ffffff;
	margin: 0px auto;
	padding: 15px 15px 0px 15px;
	width: 997px;
}
body {
	color: #525244;
	font-family: "Lucida Sans", Lucida, Arial;
	font-size: 16px;
}
.page_title{
	color: #86865F;
	padding: 20px 0px;
}
.sub_title{
	color: #cccc9c;
}
.hint_link{
	color: #cccc9c;	
}
.lecture_title{
	color: #86865F;
}
.author_info{
	border-top: 1px dashed #cccc9c;
	padding: 5px 0px;
}
.dot_line{
	border-bottom: 1px dashed #cccc9c;
	border-up: 1px dashed #cccc9c;
	padding: 10px 0px;
	margin:0px 15px;
}
.nav_line{
	border-bottom: 1px dashed #cccc9c;
	padding: 0px 0px;
	margin:0px 0px;
}
.section_line{
	border-bottom: 1px solid #cccc9c;
	padding: 10px 0px;
	margin:0px 15px;
}
a{
	color: #86865f;
	text-decoration: none;
}
a:hover,
a:focus {
  color: #86865f;
  text-decoration: underline;
}
#nav-menu ul li:hover > a {
	background-color: #e2e2be;
	text-decoration: none;
}
.form-group{
	margin-bottom: 0px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	padding 5px;
}
