#wrapper {
	background-color: #ffffff;
	margin: 0px auto;
	padding: 15px 15px 0px 15px;
	width: 1065px;
}
body {
	color: #525244;
	font-family: "Lucida Sans", Lucida, Arial;
	font-size: 16px;
}
.page_title{
	color: #86865F;
}
.author_info{
	border-top: 1px dashed #cccc9c;
	padding: 15px 0px;
}
a{
	color: #86865f;
	text-decoration: none;
}
