{% extends "base.html" %}
{% block content %}
	<div id="content">
      	<h2 class="page_title">Accommodation</h2>

		<ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" class="active"><a href="#bussiness" role="tab" data-toggle="tab">Bussiness Hotel</a></li>
		  <li role="presentation"><a href="#star" role="tab" data-toggle="tab">4-star Hotel</a></li>
		</ul>

		<div class="tab-content">
		  <div role="tabpanel" class="tab-pane active" id="bussiness">
		      <h4 class="page_title">Hanting Inn 汉庭酒店</h4>
		      <ul>
		      	<li>Address: No.277, Humin Road, Minhang District, ShangHai</li>
		      	<li>Address(Chinese):上海市闵行区沪闵路277号，近5号线东川路地铁站</li>
		      	<li>contact: 021-34662707</li>
		      	<li><a  class="hint_link" target="_blank" href="http://hotels.ctrip.com/hotel/91564.html">more information</a></li>
			<li><div style="width:697px;height:550px;border:#ccc solid 1px;" id="dituContent"></div></li>		      	
		      </ul>
		      <h4 class="page_title">JinJiang Inn 锦江之星酒店</h4>
		      <ul>
		      	<li>Address: No.319, Humin Road, Minhang District, ShangHai</li>
		      	<li>Address(Chinese):上海市闵行区沪闵路319号，鹤庆路口</li>
		      	<li>contact: 021-51101999</li>
		      	<li><a target="_blank" href="http://hotels.ctrip.com/hotel/640522.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">Greentree Inn 格林豪泰酒店</h4>
		      <ul>
		      	<li>Address: No.888, Jiangchuan East Road, Minhang District, ShangHai</li>
		      	<li>Address(Chinese):上海市闵行区江川东路888号，近沪闵路</li>
		      	<li>contact: 021-51560101</li>
		      	<li><a class="hint_link" target="_blank" href="http://hotels.ctrip.com/hotel/109011.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">Home Inn 如家酒店</h4>
		      <ul>
		      	<li>Address: No.977 Baoxiu Road, Wujing Twon, Minhang District, Shanghai</li>
		      	<li>Address(Chinese):上海市闵行区吴泾镇宝秀路977号，近永德路</li>
		      	<li>contact: 021-64501155</li>
		      	<li><a target="_blank" class="hint_link" href="http://hotels.ctrip.com/hotel/531698.html">more information</a></li>
		      </ul>
		  </div>
		  <div role="tabpanel" class="tab-pane" id="star">
		  	  <h4 class="page_title">Huhua International Hotel 沪华国际大酒店</h4>
		      <ul>
		      	<li>Address: No.368 Jianchuan Road, Minhang District, Shanghai</li>
		      	<li>Address(Chinese):上海市闵行区剑川路368号，近虹梅南路</li>
		      	<li>contact: 021-64508999</li>
		      	<li><a class="hint_link" target="_blank" href="http://hotels.ctrip.com/hotel/669052.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">Manhattan Hotel 曼哈顿酒店</h4>
		      <ul>
		      	<li>Address: No.300 Heqing Road, Minhang District, Shanghai</li>
		      	<li>Address(Chinese):上海市闵行区剑川路368号，鹤庆路900号5-6号楼，近碧江路</li>
		      	<li>contact: 021-67281666</li>
		      	<li><a class="hint_link" target="_blank" href="http://hotels.ctrip.com/hotel/1231581.html">more information</a></li>
		      </ul>
		  </div>

		</div>

      


  	</div>
  	
<script src="/wsdm/winter-school/static/js/map.js"></script>
<script type="text/javascript">  
	 //标注点数组
    	var markerArr = [{title:"Hanting&nbsp;Inn&nbsp;汉庭酒店",content:"",point:"121.429122|31.015079",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
		 ,{title:"WinterSchool&nbsp;Location",content:"Shang&nbsp;Yuan&nbsp;500",point:"121.437333|31.025547",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
		 ];
	img_url = "http://app.baidu.com/map/images/us_mk_icon.png";
    	initMap(markerArr, img_url);//创建和初始化地图
</script>
{% endblock %}


