{% extends "base.html" %}
{% block content %}
	<div id="content">
      	<h2 class="page_title">Accommodation</h2>
      		<p> Hotels and  Winter School site location is on the map.</p>
		<div class="row" style="width:697px;height:550px;border:#ccc solid 1px;" id="hotel_map"></div>
		<ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" class="active"><a href="#bussiness" role="tab" data-toggle="tab">Bussiness Hotel</a></li>
		  <li role="presentation"><a href="#star" role="tab" data-toggle="tab">4-star Hotel</a></li>
		</ul>
		<div class="tab-content">
		  <div role="tabpanel" class="tab-pane active" id="bussiness">
		      <h4 class="page_title">Hanting Inn 汉庭酒店</h4>
		      <ul>
		      	<li>Address: No.277, Humin Road, Minhang District, ShangHai</li>
		      	<li>Address(Chinese):上海市闵行区沪闵路277号，近5号线东川路地铁站</li>
		      	<li>contact: 021-34662707</li>
		      	<li><a  class="hint_link" target="_blank" href="http://hotels.ctrip.com/hotel/91564.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">JinJiang Inn 锦江之星酒店</h4>
		      <ul>
		      	<li>Address: No.319, Humin Road, Minhang District, ShangHai</li>
		      	<li>Address(Chinese):上海市闵行区沪闵路319号，鹤庆路口</li>
		      	<li>contact: 021-51101999</li>
		      	<li><a target="_blank" href="http://hotels.ctrip.com/hotel/640522.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">Greentree Inn 格林豪泰酒店</h4>
		      <ul>
		      	<li>Address: No.888, Jiangchuan East Road, Minhang District, ShangHai</li>
		      	<li>Address(Chinese):上海市闵行区江川东路888号，近沪闵路</li>
		      	<li>contact: 021-51560101</li>
		      	<li><a class="hint_link" target="_blank" href="http://hotels.ctrip.com/hotel/109011.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">Home Inn 如家酒店</h4>
		      <ul>
		      	<li>Address: No.977 Baoxiu Road, Wujing Twon, Minhang District, Shanghai</li>
		      	<li>Address(Chinese):上海市闵行区吴泾镇宝秀路977号，近永德路</li>
		      	<li>contact: 021-64501155</li>
		      	<li><a target="_blank" class="hint_link" href="http://hotels.ctrip.com/hotel/531698.html">more information</a></li>
		      </ul>
		  </div>
		  <div role="tabpanel" class="tab-pane" id="star">
		  	  <h4 class="page_title">Huhua International Hotel 沪华国际大酒店</h4>
		      <ul>
		      	<li>Address: No.368 Jianchuan Road, Minhang District, Shanghai</li>
		      	<li>Address(Chinese):上海市闵行区剑川路368号，近虹梅南路</li>
		      	<li>contact: 021-64508999</li>
		      	<li><a class="hint_link" target="_blank" href="http://hotels.ctrip.com/hotel/669052.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">Manhattan Hotel 曼哈顿酒店</h4>
		      <ul>
		      	<li>Address: No.300 Heqing Road, Minhang District, Shanghai</li>
		      	<li>Address(Chinese):上海市闵行区剑川路368号，鹤庆路900号5-6号楼，近碧江路</li>
		      	<li>contact: 021-67281666</li>
		      	<li><a class="hint_link" target="_blank" href="http://hotels.ctrip.com/hotel/1231581.html">more information</a></li>
		      </ul>
		  </div>

		</div>

      


  	</div>
  	
<script src="/wsdm/winter-school/static/js/map.js"></script>
<script type="text/javascript">  
	 //标注点数组
    	var markerArr = [{title:"WinterSchool&nbsp;Location",content:"Shang&nbsp;Yuan&nbsp;500",point:"121.437333|31.025547",isOpen:1,icon:{w:23,h:25,l:0,t:21,x:9,lb:12}}
		 ,{title:"JinJiang&nbsp;Inn",content:"锦江之星酒店",point:"121.429655|31.01696",isOpen:0,icon:{w:23,h:25,l:0,t:21,x:9,lb:12}}
		 ,{title:"GreeTree&nbsp;Inn",content:"格林豪泰酒店",point:"121.434088|31.014274",isOpen:0,icon:{w:23,h:25,l:0,t:21,x:9,lb:12}}
		 ,{title:"Hanting&nbsp;Inn",content:"汉庭酒店",point:"121.429122|31.015087",isOpen:0,icon:{w:23,h:25,l:0,t:21,x:9,lb:12}}
		 ,{title:"Home&nbsp;Inn",content:"如家酒店",point:"121.469257|31.05324",isOpen:0,icon:{w:23,h:25,l:0,t:21,x:9,lb:12}}
		 ,{title:"Huhua&nbsp;International&nbsp;Hotel",content:"沪华国际大酒店",point:"121.462909|31.045583",isOpen:0,icon:{w:23,h:25,l:0,t:21,x:9,lb:12}}
		 ,{title:"Manhattan&nbsp;Hotel",content:"曼哈顿酒店",point:"121.410441|31.011652",isOpen:0,icon:{w:23,h:25,l:0,t:21,x:9,lb:12}}
		 ,{title:"SJTU&nbsp;Academic&nbsp;Exchange&nbsp;Center",content:"交大学术交流中心",point:"121.438914|31.025524",isOpen:0,icon:{w:23,h:25,l:0,t:21,x:9,lb:12}}
		 ];
	initMap(markerArr,"hotel_map");//创建和初始化地图
</script>
{% endblock %}


