<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--引用百度地图API-->
    <style type="text/css">
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>
    <!-- script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=2.0&services=true"></script -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2nZuHDzmh3mwEWjXdLm9Bx3r"></script>

    <link rel="stylesheet" type="text/css" href="/wsdm/winter-school/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/wsdm/winter-school/static/css/home.css">
    <title>Winter School</title>
    </head>

  <body>
    <div id="wrapper">
      <div style="width: 965px; height: 198px; overflow: hidden;">
        <img style="width:965px; height:198px;" src="/wsdm/winter-school/static/media/home.jpg" alt="">
      </div>
      <nav class="navbar nav_line" role="navigation">
        <!-- Collect the nav links, forms, and other content for toggling -->  
        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="nav navbar-nav">
              <li ><a href="/wsdm/winter-school/">Home</a></li>
              <li ><a href="/wsdm/winter-school/schedule">Schedule</a></li>
              <li ><a href="/wsdm/winter-school/transportation">Venue</a></li>
              <li ><a href="/wsdm/winter-school/registration">Registration</a></li>
              <li ><a href="/wsdm/winter-school/lectures">Lecturers</a></li>
              <li ><a href="/wsdm/winter-school/download">Download</a></li>
              <li ><a href="/wsdm/winter-school/accommodation">Accommodation</a></li>
              <li ><a href="/wsdm/winter-school/contact_us">Contact Us</a></li>
          </ul>             
        </div><!-- /.navbar-collapse -->
      </nav>
      {% block content %}
      {% endblock %}
      
    </div>
	
	<script src="/wsdm/winter-school/static/js/jquery-1.10.2.min.js"></script>
	<script src="/wsdm/winter-school/static/js/bootstrap.js"></script>
	<script src="/wsdm/winter-school/static/js/readmore.js"></script>
	<script>
    		$('article').readmore({maxHeight: 40});
    		$('#speaker1').readmore({maxHeight: 40});
    		$('#speaker2').readmore({maxHeight: 40});
    		$('#speaker3').readmore({maxHeight: 40});
    		$('#speaker4').readmore({maxHeight: 40});
	</script>
  </body>
</html>
