{% extends "base.html" %}
{% block content %}
	<div id="content">
		<h2 class="page_title">Download</h2>
		<div class="row">
			<p>Link:<a target="_blank" href="http://pan.baidu.com/s/1dD6HU9b">http://pan.baidu.com/s/1dD6HU9b</a></p>
			<p>code:3ggb</p>
			<h3 class="sub_title">Jianfeng Gao</h3>
			<p>slides:<a target="_blank" href="/wsdm/winter-school/static/media/wdsm2015.v3.pdf">download link</a></p>
			<h3 class="sub_title">Jure Leskovec</h3>
			<p>slides:
			<a target="_blank" href="http://i.stanford.edu/~jure/pub/talks2/networks1-wsdm-jan15.pdf">networks1-wsdm-jan15.pdf</a>
			<a target="_blank" href="http://i.stanford.edu/~jure/pub/talks2/networks3-wsdm-jan15.pdf">networks3-wsdm-jan15.pdf</a>
			</p>
			<!--<a target="_blank" href="/wsdm/winter-school/static/media/home.jpg">test for download</a>-->
		</div>
	</div>
{% endblock %}
