{% extends "base.html" %}
{% block content %}
	<div id="content">
        	<h2 class="page_title">Welcome</h2>
              	<div class="passgae">
	        	<p>The winter school on web search and data mining is a satellite event of WSDM 2015 (the Eighth ACM International Conference on Web Search and Data Mining). The goal of this winter school is to promote research on web search and data mining and introduce the fundamentals as well as recent advance of the field to people interested in it particularly students.</p>
	              	<br>
	              	<p>Four distinguished researchers, Jianfeng Gao, Noah Smith, Jure Leskovec, and Eric Xing will give lectures on topics related to web search and data mining, including deep learning, natural language processing, social network, and machine learning platform.</p>
	              	<br>
	              	<p>The winter school will be held at Shanghai Jiaotong University (Shang Yuan 500, located at 800 Dongchuan Road) on Jan 31 – Feb 1, 2015, right before the WSDM 2015 conference. </p>
	              	<br>
	              	<p>Students, researchers, and industry practitioners are welcome to attend the winter school. Note that registrations must be made in advance (winter school only registration is also available). Due to space limitation, we will only accept the first 200 applications.Registration fee includes lunch, refreshement breaks, and program materials on both days of the winter school.</p>
	              	<br>
	              	<br>
	        	<br>
	        	<!--
	              	<div class="passgae" style="text-align: center;">
	              		<a class="urllink" href="/wsdm/winter-school/static/media/campus_main.jpg" rel="nofollow">
	              			<img height="125px" src="/wsdm/winter-school/static/media/campus_main.jpg" alt="" title="">
	              		</a>
	              		<a class="urllink" href="/wsdm/winter-school/static/media/campus_old.jpg" rel="nofollow">
	              			<img height="125px" src="/wsdm/winter-school/static/media/campus_old.jpg" alt="" title="">
	              		</a>
	              		<a class="urllink" href="/wsdm/winter-school/static/media/campus_lib2.jpg" rel="nofollow">
	              			<img height="125px" src="/wsdm/winter-school/static/media/campus_lib2.jpg" alt="" title="">
	              		</a>
	              		<a class="urllink" href="/wsdm/winter-school/static/media/campus_building.jpg" rel="nofollow">
	              			<img height="125px" src="/wsdm/winter-school/static/media/campus_building.jpg" alt="" title="">
	              		</a>
	              		<a class="urllink" href="/wsdm/winter-school/static/media/gym.jpg" rel="nofollow">
	              			<img height="125px" src="/wsdm/winter-school/static/media/gym.jpg" alt="" title="">
	              		</a>
	              	</div>
	              	-->
	              	<br>
              	</div>
        </div>
{% endblock %}
