{% extends "base.html" %}
{% block content %}
	<div id="content">
        <div id="body">
          <div class="column content_area">  
            <div id="post-5" class="post-5 page type-page status-publish hentry">
              <h2 class="page_title">WELCOME</h2>
              <div style="text-align: center;">
              	<a class="urllink" href="/wsdm/winter-school/static/media/campus1.jpg" rel="nofollow">
              		<img height="110px" src="/wsdm/winter-school/static/media/campus1.jpg" alt="" title="">
              	</a>
              	<a class="urllink" href="/wsdm/winter-school/static/media/campus2.jpg" rel="nofollow">
              		<img height="110px" src="/wsdm/winter-school/static/media/campus2.jpg" alt="" title="">
              	</a>
              	<a class="urllink" href="/wsdm/winter-school/static/media/campus3.jpg" rel="nofollow">
              		<img height="110px" src="/wsdm/winter-school/static/media/campus3.jpg" alt="" title="">
              	</a>
              	<a class="urllink" href="/wsdm/winter-school/static/media/campus4.jpg" rel="nofollow">
              		<img height="110px" src="/wsdm/winter-school/static/media/campus4.jpg" alt="" title="">
              	</a>
              </div>
              <p>The winter school on web search and data mining is a satellite event of WSDM 2015 (the Eighth ACM International Conference on Web Search and Data Mining). The goal of this winter school is to promote research on web search and data mining and introduce the fundamentals as well as recent advance of the field to people interested in it particularly students.</p>
              <br>
              <p>Four distinguished researchers, Jianfeng Gao, Jure Leskovec, Noah Smith, and Eric Xing will give lectures on topics related to web search and data mining, including deep learning, social network, natural language processing, and machine learning platform.</p>
              <br>
              <p>The winter school will be held at Shanghai Jiaotong University on Jan 31 - Feb 1, 2015, right before the WSDM 2015 conference.</p>
              <br>
              <p>Students, researchers, and industry practitioners are welcome to attend the winter school.  Note that registrations must be made in advance. Due to space limitation, we will only accept the first 200 applications.</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
