{% extends "base.html" %}
{% block content %}
	<div id="content">
        <div id="body">
          <div class="column content_area">  
            <div id="post-5" class="post-5 page type-page status-publish hentry">
              <h2 class="page_title">WELCOME</h2>
              <p>Welcome to WSDM Winter School!</p>
              <h2 class="page_title">Location and Dates</h2>
              <p>The winter school will be held at Shanghai Jiao Tong University, Shanghai, China.</p>
              <p>The school will begin on Saturday, the 31th of January, 2015, and end on Sunday, the 1st of February, 2015.</p>
              <h2 class="page_title">Key Dates and Deadlines</h2>
            </div>
          </div>
        </div>
      </div>
{% endblock %}