{% extends "base.html" %}
{% block content %}
	<div id="content">
      	<h2 class="page_title">Hotel</h2>

		<ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" class="active"><a href="#bussiness" role="tab" data-toggle="tab">Bussiness Hotel</a></li>
		  <li role="presentation"><a href="#star" role="tab" data-toggle="tab">4-star Hotel</a></li>
		</ul>

		<div class="tab-content">
		  <div role="tabpanel" class="tab-pane active" id="bussiness">
		  	  <h4 class="page_title">汉庭酒店</h4>
		      <ul>
		      	<li>Address: 上海市闵行区沪闵路277号（1.3公里）</li>
		      	<li>contact: 021-34662707</li>
		      	<li><a target="_blank" href="http://hotels.ctrip.com/hotel/91564.html">more information</a></li>
		      	<li>
		      		<img src="">
		      	</li>
		      </ul>
		      <h4 class="page_title">锦江之星酒店</h4>
		      <ul>
		      	<li>Address: 上海市闵行区沪闵路319号（1.1公里）</li>
		      	<li>contact: 021-51101999</li>
		      	<li><a target="_blank" href="http://hotels.ctrip.com/hotel/73377.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">格林豪泰</h4>
		      <ul>
		      	<li>Address: 上海市闵行区江川东路888号（1.1公里）</li>
		      	<li>contact: 021-51560101</li>
		      	<li><a target="_blank" href="http://hotels.ctrip.com/hotel/109011.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">如家酒店</h4>
		      <ul>
		      	<li>Address: 上海市闵行区吴泾镇宝秀路977号（4.5公里）</li>
		      	<li>contact: 021-64501155</li>
		      	<li><a target="_blank" href="http://hotels.ctrip.com/hotel/531698.html">more information</a></li>
		      </ul>
		  </div>
		  <div role="tabpanel" class="tab-pane" id="star">
		  	  <h4 class="page_title">沪华国际大酒店</h4>
		      <ul>
		      	<li>Address: 上海市闵行区剑川路368号（3.4公里）</li>
		      	<li>contact: 021-64508999</li>
		      	<li><a target="_blank" href="http://hotels.ctrip.com/hotel/669052.html">more information</a></li>
		      </ul>
		      <h4 class="page_title">曼哈顿酒店</h4>
		      <ul>
		      	<li>Address: 上海闵行区鹤庆路900号5-6号楼（2.9公里）</li>
		      	<li>contact: 021-67281666</li>
		      	<li><a target="_blank" href="http://hotels.ctrip.com/hotel/1231581.html">more information</a></li>
		      </ul>
		  </div>

		</div>

      


  	</div>
{% endblock %}