{% extends "base.html" %}
{% block content %}
	<div id="content">
		<h2 class="page_title">Speakers</h2>
		<p>We’re delighted to have four speakers to present keynotes on WSDM-WinterSchool 2015.</p>
       		<p>
          	– Jianfeng Gao, Microsoft Research<br>
          	– Noah Smith, Carnegie Mellon University<br>
		– Eric Xing, Carnegie Mellon University<br>
		– Jure Leskovec, Stanford University
       		</p>
	</div>
	<article>
        	<div class="author_info">
        		<h4>Jure Leskovec</h4>
          		<p><strong>Title: </strong>Fundamentals of Large Scale Social and Information Network</p>
          		<p><strong>Abstract: </strong>TBA</p>
          		<p><strong>Speaker:  </strong><a target="_blank" href="http://cs.stanford.edu/people/jure/bio.html">Jure Leskovec</a>. Dr. Jure Leskovec is an assistant professor of Computer Science at Stanford University where he is a member of the InfoLab and the AI lab. He joined the department in September 2009. In 2008/09 he was a postdoctoral researcher at Cornell University working with Jon Kleinberg and Dan Huttenlocher. He completed his Ph.D. in Machine Learning Department, School of Computer Science at Carnegie Mellon University under the supervision of Christos Faloutsos in 2008. He did his undergraduate degree in computer science at University of Ljubljana, Slovenia in 2004. He also work with the Artificial Intelligence Laboratory, Jozef Stefan Institute, Ljubljana, Slovenia.</p>
        	</div>
      	</article>
	<script>
    	  $('article').readmore({maxHeight: 240});
  	</script>
{% endblock %}
