{% extends "base.html" %}
{% block content %}
	<div id="content">
		<h2 class="page_title">Day1: Jan.31, 2015, Saturday</h2>
		<table class="table">
			<tr><td>8:45am-9:00am: </td><td>Opening Ceremony, Group Photo</td></tr>
		</table>
		<h4 class="page_title">Lecture 1: Deep Learning for Web Search and Natural Language Processing(Jianfeng Gao, Microsoft Research)</h4>
		<form class="form-horizontal" role="form">
	  		<div class="form-group">
		    		<label class="col-sm-2 control-label">9:00am - 9:50am:</label>
		    		<div class="col-sm-10">
		      			<label class="col-sm-2 control-label">Lesson 1</label>
		    		</div>
	  		</div>
		</form>
		<table class="table">
			<tr><td>9:00am - 9:50am:</td><td>Lesson 1</td></tr>
			<tr><td>9:50am - 10:00am:</td><td>Break</td></tr>
			<tr><td>10:00am - 10: 50am:</td><td>Lesson 2</td></tr>
			<tr><td>10:50am - 11:00am:</td><td>Break</td></tr>
		</table>
		<h2 class="page_title">Day2: Feb 1st</h2>
		<table class="table">
			<tr><td>9:15~10:15</td><td>lecture</td></tr>
			<tr><td>10:15~10:30</td><td>tea break</td></tr>
			<tr><td>10:30~11:30</td><td>lecture</td></tr>
			<tr><td>12:00</td><td>lunch</td></tr>
			<tr><td>13:15~15:15</td><td>lecture</td></tr>
			<tr><td>15:15~15:30</td><td>tea break</td></tr>
			<tr><td>15:30~16:30</td><td>lecture</td></tr>
		</table>
	</div>
{% endblock %}
