{% extends "base.html" %}
{% block content %}
	<div id="content">
		<h2 class="page_title">Schedule</h2>
		<div class="passgae">
			<div class="section_line">
				<p>The winter school will be hold on Jan.31 and Feb 1.</p>
			</div>
			<div class="panel panel-default">
	      			<div class="panel-heading">Panel heading</div>
			      	<table class="table">
			        <thead>
			          <tr>
			            <th>Time</th>
			            <th></th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>8:45am-9:00am:</td>
			            <td>Opening Ceremony, Group Photo</td>
			          </tr>
			        </tbody>
			        <div class="panel-heading">Panel heading</div>
			      	</table>
			      	<table class="table">
			          <tr>
			            <td>9:00am - 9:50am:</td>
			            <td>Lesson 1</td>
			          </tr>
			          <tr>
			            <td>9:50am - 10:00am:</td>
			            <td>Break</td>
			          </tr>
			          <tr>
			            <td>10:00am - 10: 50am:</td>
			            <td>Lesson 2</td>
			          </tr>
			          <tr>
			            <td>10:50am - 11:00am:</td>
			            <td>Break</td>
			          </tr>
			          <tr>
			            <td>11:00am - 12: 00pm:</td>
			            <td>Lesson 3</td>
			          </tr>
			          <tr>
			            <td>12:00pm - 2:00pm:</td>
			            <td>Lunch</td>
			          </tr>
			          <tr>
			            <td>2:00pm - 2:50pm:</td>
			            <td>Lesson 1</td>
			          </tr>
			          <tr>
			            <td>2:50pm - 3:00pm:</td>
			            <td>Break</td>
			          </tr>
			          <tr>
			            <td>3:00pm - 3: 50pm:</td>
			            <td>Lesson 2</td>
			          </tr>
			          <tr>
			            <td>3:50pm - 4:00pm:</td>
			            <td>Break</td>
			          </tr>
			          <tr>
			            <td>4:00pm - 5:00pm:</td>
			            <td>Lesson 3</td>
			          </tr>
			        </tbody>
			      	</table>
		    	</div>
			
			
			
			<h3 class="sub_title">Day1: Jan.31, 2015, Saturday</h3>
			<form class="form-horizontal section_line" role="form">
				<div class="form-group">
			    		<p class="col-sm-4 control-label">8:45am-9:00am:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Opening Ceremony, Group Photo</p></div>
		  		</div>
		  		<h4 class="lecture_title">Lecture 1: Deep Learning for Web Searh and Natural Language Processing(Jianfeng Gao, Microsoft Research)</h4>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">9:00am - 9:50am:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 1</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">9:50am - 10:00am:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Break</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">10:00am - 10: 50am:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 2</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">10:50am - 11:00am:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Break</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">11:00am - 12: 00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 3</p></div>
		  		</div>
		  		<div class="form-group " style="padding:10px 0px;">
			    		<p class="col-sm-4 control-label">12:00pm - 2:00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lunch</p></div>
		  		</div>
		  		<h4 class="lecture_title">Lecture 2: Natural Language Processing: Algorithms and Applications, Old and New(Noah Smith, Carnegie Mellon University)</h4>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">2:00pm - 2:50pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 1</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">2:50pm - 3:00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Break</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">3:00pm - 3: 50pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 2</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">3:50pm - 4:00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Break</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">4:00pm - 5:00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 3</p></div>
		  		</div>
			</form>
			
			
			<h3 class="sub_title">Feb. 01, 2015, Sunday</h3>
			<form class="form-horizontal section_line" role="form">
		  		<h4 class="lecture_title">Lecture 3: Fundamentals of Large Scale Social and Information Network(Jure Leskovec, Stanford University)</h4>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">9:00am - 9:50am:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 1</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">9:50am - 10:00am:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Break</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">10:00am - 10: 50am:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 2</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">10:50am - 11:00am:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Break</p></div>
		  		</div>
		  		<div class="form-group ">
			    		<p class="col-sm-4 control-label">11:00am - 12: 00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 3</p></div>
		  		</div>
		  		<div class="form-group" style="padding:10px 0px;">
			    		<p class="col-sm-4 control-label">12:00pm - 2:00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lunch</p></div>
		  		</div>
		  		<h4 class="lecture_title">Lecture 4: Distributed Systems and Algorithms for Scalable Machine Learning(Eric Xing, Carnegie Mellon University)</h4>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">2:00pm - 2:50pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 1</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">2:50pm - 3:00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Break</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">3:00pm - 3: 50pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 2</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">3:50pm - 4:00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Break</p></div>
		  		</div>
		  		<div class="form-group">
			    		<p class="col-sm-4 control-label">4:00pm - 5:00pm:	</p>
			    		<div class="col-sm-8"><p class="col-sm-6 control-label">Lesson 3</p></div>
		  		</div>
			</form>
		</div>
	</div>
{% endblock %}
