{% extends "base.html" %}
{% block content %}
	<div id="content">
		<h2 class="page_title">Day1: Jan 31th</h2>
		<table class="table">
			<tr><td>9:15~10:15</td><td>lecture</td></tr>
			<tr><td>10:15~10:30</td><td>tea break</td></tr>
			<tr><td>10:30~11:30</td><td>lecture</td></tr>
			<tr><td>12:00</td><td>lunch</td></tr>
			<tr><td>13:15~15:15</td><td>lecture</td></tr>
			<tr><td>15:15~15:30</td><td>tea break</td></tr>
			<tr><td>15:30~16:30</td><td>lecture</td></tr>
		</table>
		<h2 class="page_title">Day2: Feb 1st</h2>
		<table class="table">
			<tr><td>9:15~10:15</td><td>lecture</td></tr>
			<tr><td>10:15~10:30</td><td>tea break</td></tr>
			<tr><td>10:30~11:30</td><td>lecture</td></tr>
			<tr><td>12:00</td><td>lunch</td></tr>
			<tr><td>13:15~15:15</td><td>lecture</td></tr>
			<tr><td>15:15~15:30</td><td>tea break</td></tr>
			<tr><td>15:30~16:30</td><td>lecture</td></tr>
		</table>
	</div>
{% endblock %}